body {
    transition: 1s;
    background-color: blue;
}

button {
    padding: 8px;
    background-color: rgb(10, 10, 7);
    color: brown;
    border: none;
    font-size: 2rem;
}

button:hover {
    background: red;
}